.masonry { /* Masonry container */
    column-count: 2;
    column-gap: 0;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    //-moz-column-gap: 30px;
    //-webkit-column-gap: 30px;
    //column-gap: 30px;
    -moz-column-fill: initial;
    -webkit-column-fill: initial;
    column-fill: initial;
}

.item { /* Masonry bricks or child elements */
    
    display: inline-block;
    background-color: #fff;
    padding: 0;
    margin: 0 0 0;
    width: 100%;
   
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
    
    //-moz-transition: all .5s ease-in-out;
    //-webkit-transition: all .5s ease-in-out;
    //transition: all .5s ease-in-out;    

    max-width: 100%;
    vertical-align: bottom;
}