@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

//Media Manager Query
/*
0 - 600 : phones
600 - 900 : Tablet port
900 - 1200 : Tablet land
1200 - 1800 : normal styles
1800 +++ : Big desks
---------------------------------
$breakpoint arguements:
- phone
- tab-port
- tab-land
- big-desk



1em=16px
*/
@mixin respond($breakpoint){
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content }; //600px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content }; //900px
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content }; //1200px
    }
    @if $breakpoint == big-desk {
        @media (min-width: 112.5em) { @content }; //1800px
    }
}