/*
0 - 600 : phones
600 - 900 : Tablet port
900 - 1200 : Tablet land
1200 - 1800 : normal styles
1800 +++ : Big desks
---------------------------------
$breakpoint arguements:
- phone
- tab-port
- tab-land
- big-desk



1em=16px
*/
/*
BlockElementModifier architecture
COLORS:

Light orange: #fe7f2d
Medium orange: #cc5803
Dark teal: #315659
light teal: #177e89
white-blue: #05b2dc
*/
h1 {
  color: tomato; }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

/*important for browser uses*/
html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateY(0); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777;
  font-size: 1.6rem; }

.Heading-primary {
  color: #fff;
  text-transform: lowercase;
  backface-visibility: hidden;
  margin-bottom: 4.6rem; }
  .Heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1.5s; }
    @media (max-width: 37.5em) {
      .Heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .Heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 1.5s; }
    @media (max-width: 37.5em) {
      .Heading-primary--sub {
        letter-spacing: .5rem; } }

.Heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #177e89, #315659);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .Heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .Heading-secondary {
      font-size: 2.5rem; } }
  .Heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.Heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700; }

.Paragraph {
  font-size: 1.6rem; }
  .Paragraph:not(:last-child) {
    margin-bottom: 4rem; }

.U-center-text {
  text-align: center; }

.U-justify-text {
  text-align: justify; }

.U-margin-bottom-small {
  margin-bottom: 1.5rem !important; }
  @media (max-width: 56.25em) {
    .U-margin-bottom-small {
      margin-bottom: .75rem !important; } }

.U-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .U-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.U-margin-bottom-large {
  margin-bottom: 6rem !important; }
  @media (max-width: 56.25em) {
    .U-margin-bottom-large {
      margin-bottom: 4rem !important; } }

.U-margin-bottom-xlarge {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .U-margin-bottom-xlarge {
      margin-bottom: 5rem !important; } }

.U-margin-top-small {
  margin-top: 1.5rem !important; }
  @media (max-width: 56.25em) {
    .U-margin-top-small {
      margin-top: .75rem !important; } }

.U-margin-top-medium {
  margin-top: 4rem !important; }
  @media (max-width: 56.25em) {
    .U-margin-top-medium {
      margin-top: 3rem !important; } }

.U-margin-top-large {
  margin-top: 6rem !important; }
  @media (max-width: 56.25em) {
    .U-margin-top-large {
      margin-top: 4rem !important; } }

.U-margin-top-xlarge {
  margin-top: 8rem !important; }
  @media (max-width: 56.25em) {
    .U-margin-top-xlarge {
      margin-top: 5rem !important; } }

.U-margin-top-huge {
  margin-top: 10rem !important; }
  @media (max-width: 56.25em) {
    .U-margin-top-huge {
      margin-top: 7rem !important; } }

.Logo {
  background-color: white;
  padding: 0.8rem;
  height: 87%;
  box-sizing: border-box;
  border-radius: 0.5rem; }

.Logo img {
  height: 100%; }

.NavigationItem {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center; }
  .NavigationItem a {
    color: #fff;
    text-decoration: none;
    height: 100%;
    padding: 1.6rem 1rem;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block; }

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  background-color: #177e89;
  border-bottom: 4px solid #05b2dc;
  color: #fff; }

.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%; }

.NavigationSubItem {
  width: 13rem;
  height: 100%;
  background-color: #315659;
  top: 0;
  left: 0;
  display: inline-block; }

.NavigationSubItems {
  margin: 0;
  padding: 0;
  position: relative; }

.NavigationSubItems:before {
  content: "";
  position: absolute;
  right: 20px;
  top: -1.1rem;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fe7f2d; }

.NavigationSubItems:after {
  content: "";
  position: absolute;
  right: 20px;
  top: -1.6rem;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #cc5803; }

.Toolbar {
  height: 5.6rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #315659;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
  z-index: 90; }

.Toolbar nav {
  height: 100%; }
